<div class="container">
    <div class="row">
        <div class="col-md-6">
            <span class="logo">
                <div class="navbar-brand" style="padding-top: 7.5px">
                    <a class="link-fx text-white font-w700 font-size-h3" href="/"><span class="text-white">AUTOFB</span><span class="text-white">.COM</span></a>
                </div>
            </span>
            <p class="font-italc">
                Autofb.COM là người bán hàng đầu các dịch vụ Tiếp thị Truyền
                thông Xã hội trên web. Cho dù đó là thứ bạn cần cho tài
                khoản mạng xã hội của mình hay bạn là người bán lại dịch vụ
                Autofb.COM, bạn sẽ tìm thấy tất cả ở đây.
            </p>
        </div>
        <div class="col-md-6 text-center-md">
            <div class="footer-support-panel">
                <h3 class="title">Hỗ trợ</h3>
                <ul>
                    <li>
                        <a href="https://www.facebook.com/61551797091643" class="card-body hvr-icon-pop" target="_blank"><i class="fa fa-comments"></i> Fanpage hỗ trợ</a>
                    </li>
                    <li>
                        <a href="mailto:huypham.designer.368@gmail.com">
                            <i class="fa fa-envelope"></i>
                            huypham.designer.368@gmail.com
                        </a>
                    </li>
                    <li>
                        <a href="tel:0824823333"><i class="fa fa-phone-alt"></i> 0824.82.3333</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="footer-bottom">
    <div class="container">
        <div class="copyright">
            © Autofb.COM Copyright 2020 - All rights reserved.
        </div>
        <div class="footer-links" target="_blank">
            <a href="https://www.facebook.com/61551797091643" target="_blank"><i class="fab fa-facebook"></i></a><a href="https://www.instagram.com/huyphampc/" target="_blank"><i class="fab fa-instagram"></i></a><a href="https://www.youtube.com/channel/UCp6jKs-cBeJt3CpoRRX3ulw" target="_blank"><i class="fab fa-youtube"></i></a>
        </div>
    </div>
</div>
